@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

:root {
  --background: #0B0A13;
  /* --foreground: #FFFFFF; */
  --primary-purple: #E0A7FF;
  --accent-purple: #CC00FF;
  --dark-bg: #0B0A13;
  --card-bg: #1B1927;
  --gray-mid: #8E8B9E;
}

@theme {
  --color-primary-purple: var(--primary-purple);
  --color-accent-purple: var(--accent-purple);
  --color-dark-bg: var(--dark-bg);
  --color-card-bg: var(--card-bg);
  --color-gray-mid: var(--gray-mid);
  --font-outfit: "Outfit", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .marquee {
    display: flex;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}